@font-face {
  font-family: "TechDigit";
  src: url("assets/fonts/PocketCalculator-qjd.ttf");
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.calc-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
  border-radius: 20px;
  border: 9px double rgb(255, 94, 0);
}

.keypad {
  display: flex;
  padding: 30px;
  border-radius: 10px;
  border: 7px double rgb(248, 189, 152);
  background-color: rgba(0, 0, 0, 0.749);
}

.number,
.operator,
.equal,
.decimal,
.clear {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(245, 104, 57);
  border-radius: 50px;
  font-family: "TechDigit";
  color: rgb(241, 245, 9);
  font-size: 80px;
  background-color: rgba(0, 0, 0, 0);
}

.numeric-keys {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.operator-keys {
  display: flex;
  flex-direction: column;
}

#button-clear {
  background: url("assets/img/venus.png") center/contain no-repeat;
  border: none;
  color: rgb(217, 255, 0);
  text-shadow: 5px 1px rgba(0, 36, 67, 0.606);
  font-weight: 900px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.display-window {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 10px;
  border: 10px double rgb(91, 64, 53);
  background-color: rgba(0, 0, 0, 0.778);
  font-family: "TechDigit";
  padding: 15px;
  color: rgb(241, 245, 9);
  font-size: 50px;
  width: 430px;
  height: 100px;
  overflow-x: auto;
}

.result,
.expression-text {
  margin: 0;
  white-space: nowrap;
}
