video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.calc-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
}

.keypad {
  display: flex;
}

.numeric-keys {
  display: flex;
  flex-direction: column;
}

.operator-keys {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
