.calc-container {
  display: flex;
  flex-direction: column;
}

.keypad {
  display: flex;
}

.numeric-keys {
  display: flex;
  flex-direction: column;
}

.operator-keys {
  display: flex;
  flex-direction: column;
}
